In [61]:
import seaborn as sns
import numpy as np
import ast
import csv
import os
import pandas as pd
import requests
import warnings
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport
import gensim
import nltk
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import pyLDAvis.gensim_models
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from pyLDAvis import gensim
from gensim import corpora
from gensim import models
from IPython.display import display, HTML
from wordcloud import WordCloud
import string
import nltk
import re
import heapq
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import IsolationForest

plt.style.use('seaborn-v0_8')
warnings.filterwarnings('ignore')

In [2]:
# Initial Dataset review
df = pd.read_csv('movies.csv')
print(df.shape)
df.head(10)

(10000, 10)

,GenreIds,Id,OriginalLanguage,OriginalTitle,Overview,Popularity,ReleaseDate,Title,VoteAverage,VoteCount
0,"[28, 12, 53]",299054,en,Expend4bles,Armed with every weapon they can get their han...,3741.062,2023-09-15,Expend4bles,6.4,364
1,"[28, 53, 80]",926393,en,The Equalizer 3,Robert McCall finds himself at home in Souther...,2471.515,2023-08-30,The Equalizer 3,7.3,1027
2,"[16, 28, 14]",1034062,en,Mortal Kombat Legends: Cage Match,"In 1980s Hollywood, action star Johnny Cage is...",2223.430,2023-10-17,Mortal Kombat Legends: Cage Match,7.8,27
3,"[28, 53]",575264,en,Mission: Impossible - Dead Reckoning Part One,Ethan Hunt and his IMF team embark on their mo...,2032.927,2023-07-08,Mission: Impossible - Dead Reckoning Part One,7.7,1799
4,"[53, 18]",1151534,es,Nowhere,A young pregnant woman named Mia escapes from ...,1627.678,2023-09-29,Nowhere,7.6,686
5,"[27, 9648, 53]",968051,en,The Nun II,"In 1956 France, a priest is violently murdered...",1594.559,2023-09-06,The Nun II,7.0,1086
6,"[28, 80, 53]",961268,ko,발레리나,Grieving the loss of a best friend she couldn'...,1521.075,2023-10-05,Ballerina,7.0,200
7,"[27, 53]",951491,en,Saw X,"Between the events of 'Saw' and 'Saw II', a si...",1469.177,2023-09-26,Saw X,7.3,287
8,"[12, 28, 18]",980489,en,Gran Turismo,The ultimate wish-fulfillment tale of a teenag...,1315.518,2023-08-09,Gran Turismo,8.1,1127
9,"[53, 878, 28]",937249,en,57 Seconds,When a tech blogger lands an interview with a ...,1304.978,2023-09-29,57 Seconds,5.4,111

In [3]:
# Checking movie details data

df2 = pd.read_csv('movie_details.csv')
print(df2.shape)
df2.head()

(10000, 8)

,Id,Budget,ProductionCompanies,ProductionCountries,SpokenLanguages,TagLine,RunTime,Revenue
0,299054,100000000,"[{'id': 1020, 'logo_path': '/kuUIHNwMec4dwOLgh...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'english_name': 'English', 'iso_639_1': 'en'...",They'll die when they're dead.,103,30000000
1,926393,70000000,"[{'id': 1423, 'logo_path': '/1rbAwGQzrNvXDICD6...","[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_...","[{'english_name': 'English', 'iso_639_1': 'en'...",Justice knows no borders.,109,176933602
2,1034062,0,"[{'id': 2785, 'logo_path': '/l5zW8jjmQOCx2dFmv...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'english_name': 'English', 'iso_639_1': 'en'...",Neon lights... Suits with shoulder pads... Jum...,80,0
3,575264,291000000,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'english_name': 'French', 'iso_639_1': 'fr',...",We all share the same fate.,164,567148955
4,1151534,0,"[{'id': 204005, 'logo_path': None, 'name': 'Ro...","[{'iso_3166_1': 'ES', 'name': 'Spain'}]","[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Attempting to survive in the middle of nowhere...,109,0

In [4]:
def inner_join(df1, df2, pk):
    '''This methods performs inner joint, based on given primery key'''
    return pd.merge(df1, df2, on=pk)

In [5]:
# Perform inner join to consolidate one single dataset
df = inner_join(df, df2, 'Id')
print(df.shape)
df.head()

(10000, 17)

,GenreIds,Id,OriginalLanguage,OriginalTitle,Overview,Popularity,ReleaseDate,Title,VoteAverage,VoteCount,Budget,ProductionCompanies,ProductionCountries,SpokenLanguages,TagLine,RunTime,Revenue
0,"[28, 12, 53]",299054,en,Expend4bles,Armed with every weapon they can get their han...,3741.062,2023-09-15,Expend4bles,6.4,364,100000000,"[{'id': 1020, 'logo_path': '/kuUIHNwMec4dwOLgh...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'english_name': 'English', 'iso_639_1': 'en'...",They'll die when they're dead.,103,30000000
1,"[28, 53, 80]",926393,en,The Equalizer 3,Robert McCall finds himself at home in Souther...,2471.515,2023-08-30,The Equalizer 3,7.3,1027,70000000,"[{'id': 1423, 'logo_path': '/1rbAwGQzrNvXDICD6...","[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_...","[{'english_name': 'English', 'iso_639_1': 'en'...",Justice knows no borders.,109,176933602
2,"[16, 28, 14]",1034062,en,Mortal Kombat Legends: Cage Match,"In 1980s Hollywood, action star Johnny Cage is...",2223.430,2023-10-17,Mortal Kombat Legends: Cage Match,7.8,27,0,"[{'id': 2785, 'logo_path': '/l5zW8jjmQOCx2dFmv...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'english_name': 'English', 'iso_639_1': 'en'...",Neon lights... Suits with shoulder pads... Jum...,80,0
3,"[28, 53]",575264,en,Mission: Impossible - Dead Reckoning Part One,Ethan Hunt and his IMF team embark on their mo...,2032.927,2023-07-08,Mission: Impossible - Dead Reckoning Part One,7.7,1799,291000000,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'english_name': 'French', 'iso_639_1': 'fr',...",We all share the same fate.,164,567148955
4,"[53, 18]",1151534,es,Nowhere,A young pregnant woman named Mia escapes from ...,1627.678,2023-09-29,Nowhere,7.6,686,0,"[{'id': 204005, 'logo_path': None, 'name': 'Ro...","[{'iso_3166_1': 'ES', 'name': 'Spain'}]","[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Attempting to survive in the middle of nowhere...,109,0

In [6]:
# Review the dataframe datatypes

df.dtypes

GenreIds                object
Id                       int64
OriginalLanguage        object
OriginalTitle           object
Overview                object
Popularity             float64
ReleaseDate             object
Title                   object
VoteAverage            float64
VoteCount                int64
Budget                   int64
ProductionCompanies     object
ProductionCountries     object
SpokenLanguages         object
TagLine                 object
RunTime                  int64
Revenue                  int64
dtype: object

In [7]:
# categorical columns inspection

categorical_df = df.select_dtypes(include='object')
categorical_df.head(1)

,GenreIds,OriginalLanguage,OriginalTitle,Overview,ReleaseDate,Title,ProductionCompanies,ProductionCountries,SpokenLanguages,TagLine
0,"[28, 12, 53]",en,Expend4bles,Armed with every weapon they can get their han...,2023-09-15,Expend4bles,"[{'id': 1020, 'logo_path': '/kuUIHNwMec4dwOLgh...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'english_name': 'English', 'iso_639_1': 'en'...",They'll die when they're dead.

In [8]:
# reviewing unique values in each category to stablish category relevancy, text columns excluded to process in further steps

categorical_columns = categorical_df.columns
text_columns = ['Overview', 'Title', 'OriginalTitle', 'TagLine']

for column in categorical_columns:
    if column not in text_columns:
        print(f"----Unique values for column {column} -----")
        print(categorical_df[column].unique()[:5])

----Unique values for column GenreIds -----
['[28, 12, 53]' '[28, 53, 80]' '[16, 28, 14]' '[28, 53]' '[53, 18]']
----Unique values for column OriginalLanguage -----
['en' 'es' 'ko' 'hi' 'de']
----Unique values for column ReleaseDate -----
['2023-09-15' '2023-08-30' '2023-10-17' '2023-07-08' '2023-09-29']
----Unique values for column ProductionCompanies -----
["[{'id': 1020, 'logo_path': '/kuUIHNwMec4dwOLghDhhZJzHZTd.png', 'name': 'Millennium Media', 'origin_country': 'US'}, {'id': 48738, 'logo_path': None, 'name': 'Campbell Grobman Films', 'origin_country': 'US'}, {'id': 1632, 'logo_path': '/cisLn1YAUuptXVBa0xjq7ST9cH0.png', 'name': 'Lionsgate', 'origin_country': 'US'}]"
 "[{'id': 1423, 'logo_path': '/1rbAwGQzrNvXDICD6HWEn1YqfAV.png', 'name': 'Escape Artists', 'origin_country': 'US'}, {'id': 5, 'logo_path': '/wrweLpBqRYcAM7kCSaHDJRxKGOP.png', 'name': 'Columbia Pictures', 'origin_country': 'US'}, {'id': 10400, 'logo_path': '/9LlB2YAwXTkUAhx0pItSo6pDlkB.png', 'name': 'Eagle Pictures', 'origin_country': 'IT'}, {'id': 44967, 'logo_path': None, 'name': 'ZHIV Productions', 'origin_country': ''}]"
 "[{'id': 2785, 'logo_path': '/l5zW8jjmQOCx2dFmvnmbYmqoBmL.png', 'name': 'Warner Bros. Animation', 'origin_country': 'US'}]"
 "[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UEN4CbHRc.png', 'name': 'Paramount', 'origin_country': 'US'}, {'id': 82819, 'logo_path': '/gXfFl9pRPaoaq14jybEn1pHeldr.png', 'name': 'Skydance', 'origin_country': 'US'}, {'id': 21777, 'logo_path': None, 'name': 'TC Productions', 'origin_country': 'US'}]"
 "[{'id': 204005, 'logo_path': None, 'name': 'Rock & Ruz', 'origin_country': 'ES'}]"]
----Unique values for column ProductionCountries -----
["[{'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'ES', 'name': 'Spain'}]"
 "[{'iso_3166_1': 'KR', 'name': 'South Korea'}]"
 "[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"]
----Unique values for column SpokenLanguages -----
["[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}]"
 "[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Italian', 'iso_639_1': 'it', 'name': 'Italiano'}]"
 "[{'english_name': 'French', 'iso_639_1': 'fr', 'name': 'Français'}, {'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Italian', 'iso_639_1': 'it', 'name': 'Italiano'}, {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}]"
 "[{'english_name': 'Spanish', 'iso_639_1': 'es', 'name': 'Español'}]"
 "[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'French', 'iso_639_1': 'fr', 'name': 'Français'}]"]

In [9]:
# eliminate SpokenLanguages as there is already a column for original language and we believe the translations may not be predictive to the model
df.drop('SpokenLanguages', axis=1, inplace=True)

In [10]:

# dictionaty to map genre ids to genre names
genre_map = {
    28: 'Action',
    12: 'Adventure',
    16: 'Animation',
    35: 'Comedy',
    80: 'Crime',
    99: 'Documentary',
    18: 'Drama',
    10751: 'Family',
    14: 'Fantasy',
    36: 'History ',
    27: 'Horror',
    10402: 'Music',
    9648: 'Mystery',
    10749: 'Romance',
    878: 'ScienceFiction',
    10770: 'TvMovie',
    53: 'Thriller',
    10752: 'War',
    37: 'Western'
}

In [11]:
# GenreIds Column, will be tranformed to a textual column to be used later

df['GenreIds'] = df['GenreIds'].apply(ast.literal_eval)

# Function to map genre IDs to genre names
def map_genre_ids_to_names(genre_ids):
    return [genre_map[genre_id] for genre_id in genre_ids]

# Apply the mapping function to the 'GenreIds' column
df['Genres'] = df['GenreIds'].apply(map_genre_ids_to_names)

In [12]:
df['Genres'] = df['Genres'].apply(lambda x: ', '.join(x))
df['Genres'].head(2)

0    Action, Adventure, Thriller
1        Action, Thriller, Crime
Name: Genres, dtype: object

In [13]:
# dropping the GenreIds
df.drop('GenreIds', axis=1, inplace=True)

In [14]:
df.drop('Id', axis=1, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OriginalLanguage     10000 non-null  object
 1   OriginalTitle        10000 non-null  object
 2   Overview             9949 non-null   object
 3   Popularity           10000 non-null  float64
 4   ReleaseDate          9979 non-null   object
 5   Title                10000 non-null  object
 6   VoteAverage          10000 non-null  float64
 7   VoteCount            10000 non-null  int64
 8   Budget               10000 non-null  int64
 9   ProductionCompanies  10000 non-null  object
 10  ProductionCountries  10000 non-null  object
 11  TagLine              7587 non-null   object
 12  RunTime              10000 non-null  int64
 13  Revenue              10000 non-null  int64
 14  Genres               10000 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 1.1+ MB

Now, we can can see that we have null values in three columns so firstly, we will look on that

We can not imput any random values in this column so simply we will drop those raws, which has null values

In [16]:
df.dropna(subset=['Overview'], inplace=True)

It has string values so we will convert into vector space so we can use in our machine learning model

In [17]:
language_counts = df['OriginalLanguage'].value_counts()

# Display the results
language_occurrence_df = pd.DataFrame({
    'Language': language_counts.index,
    'Occurrences': language_counts.values
})

print(language_occurrence_df)

   Language  Occurrences
0        en         7495
1        ja          593
2        ko          317
3        fr          304
4        es          280
5        zh          156
6        it          147
7        cn          135
8        de           78
9        ru           64
10       hi           52
11       tl           47
12       pt           30
13       no           30
14       da           28
15       sv           27
16       th           24
17       nl           24
18       pl           22
19       tr           12
20       id           12
21       te           11
22       fi            8
23       ta            5
24       ar            5
25       cs            4
26       el            4
27       uk            4
28       is            3
29       fa            3
30       bn            2
31       kn            2
32       xx            2
33       yo            2
34       he            2
35       km            1
36       gl            1
37       ro            1
38       la            1
39       nb            1
40       ml            1
41       mk            1
42       ms            1
43       sh            1
44       vi            1
45       ca            1
46       eu            1
47       sr            1
48       lt            1
49       pa            1

It has categorical column so we will apply label encoding on this column

In [18]:
df['OriginalTitle']

0                                         Expend4bles
1                                     The Equalizer 3
2                   Mortal Kombat Legends: Cage Match
3       Mission: Impossible - Dead Reckoning Part One
4                                             Nowhere
                            ...
9995                                       15 Minutes
9996                                        Ladder 49
9997                                    Le Grand Bain
9998                                           Arctic
9999                   Justin Bieber: Never Say Never
Name: OriginalTitle, Length: 9949, dtype: object

We will not use this column in our machine learning model insted we will use this columns as a unique id

In [19]:
df['Popularity']

0       3741.062
1       2471.515
2       2223.430
3       2032.927
4       1627.678
          ...
9995      13.051
9996      13.050
9997      13.049
9998      13.049
9999      13.049
Name: Popularity, Length: 9949, dtype: float64

In [20]:
unique_popularity = df['Popularity'].unique()
unique_popularity_descending = sorted(unique_popularity, reverse=True)

print(unique_popularity_descending)

[3741.062, 2471.515, 2223.43, 2032.927, 1627.678, 1594.559, 1521.075, 1469.177, 1315.518, 1304.978, 1296.147, 1228.1, 1219.338, 1149.639, 1146.931, 1120.681, 918.477, 892.917, 881.636, 877.922, 824.351, 799.046, 735.865, 731.166, 718.948, 677.968, 676.294, 647.486, 617.418, 600.375, 590.704, 581.966, 580.689, 573.486, 570.169, 570.112, 567.217, 553.211, 548.829, 548.206, 501.049, 493.268, 485.337, 457.086, 449.467, 432.662, 422.125, 419.704, 413.718, 403.373, 399.196, 398.422, 396.048, 384.892, 369.895, 368.142, 363.573, 361.14, 359.792, 356.681, 355.064, 354.284, 353.479, 347.013, 342.084, 330.248, 323.721, 314.227, 309.92, 309.382, 305.499, 304.269, 302.238, 300.097, 300.058, 296.272, 293.328, 293.229, 290.349, 289.87, 289.708, 282.472, 273.865, 270.806, 269.523, 263.544, 261.626, 258.269, 257.421, 255.232, 254.693, 253.014, 252.262, 251.506, 247.744, 239.91, 239.782, 236.817, 236.58, 235.558, 234.522, 233.741, 232.857, 231.878, 225.891, 225.108, 225.086, 224.05, 222.679, 221.914, 221.368, 219.778, 219.674, 219.402, 216.94, 214.942, 214.731, 212.699, 212.277, 208.082, 208.008, 207.404, 206.833, 206.212, 204.719, 200.917, 198.425, 196.219, 191.68, 190.041, 189.213, 188.513, 185.26, 185.098, 183.731, 183.311, 183.152, 182.472, 182.416, 182.369, 181.435, 179.922, 179.455, 179.114, 179.021, 178.46, 178.255, 175.385, 175.208, 172.855, 172.042, 171.604, 170.68, 169.245, 168.781, 168.699, 167.562, 165.291, 164.149, 163.549, 162.229, 161.476, 160.35, 159.924, 159.909, 159.513, 159.35, 158.948, 158.174, 157.164, 157.114, 156.557, 155.109, 155.102, 154.685, 154.09, 153.865, 153.517, 152.823, 152.525, 150.26, 149.755, 148.236, 147.914, 147.379, 147.29, 146.225, 145.997, 145.809, 145.619, 145.457, 144.931, 144.873, 144.717, 144.693, 144.332, 143.948, 143.62, 143.056, 142.825, 141.985, 141.21, 140.864, 140.628, 140.24, 139.792, 139.075, 138.761, 137.848, 137.812, 137.75, 137.227, 136.684, 136.653, 135.378, 135.363, 135.246, 135.033, 134.824, 134.528, 134.437, 134.009, 133.844, 132.909, 131.182, 131.06, 130.733, 129.509, 129.269, 129.226, 128.971, 128.484, 128.325, 128.242, 127.434, 127.261, 126.299, 124.608, 124.594, 124.033, 123.792, 123.773, 123.766, 123.299, 123.283, 123.183, 123.034, 123.007, 122.863, 122.842, 122.079, 122.051, 121.895, 121.866, 121.394, 120.675, 119.956, 119.776, 118.652, 118.482, 118.442, 118.262, 118.128, 117.909, 117.564, 117.359, 117.033, 116.972, 116.933, 116.718, 116.257, 116.242, 116.138, 116.134, 116.026, 115.835, 115.515, 115.397, 115.167, 114.712, 114.68, 114.15, 114.083, 113.645, 113.575, 113.376, 112.512, 112.116, 112.097, 111.726, 111.185, 110.77, 110.758, 110.499, 110.218, 109.643, 109.252, 109.191, 109.141, 109.108, 109.092, 108.815, 108.412, 108.407, 108.132, 108.105, 107.944, 107.773, 107.731, 107.712, 107.522, 107.146, 106.933, 106.868, 106.829, 106.473, 106.337, 106.151, 106.058, 105.895, 105.874, 105.594, 105.405, 105.303, 104.983, 104.726, 104.607, 104.098, 104.041, 103.986, 103.143, 102.876, 102.771, 102.532, 102.439, 102.396, 102.377, 102.375, 102.329, 102.237, 101.979, 101.631, 101.451, 101.233, 101.01, 100.236, 100.181, 100.027, 99.609, 99.559, 99.558, 99.228, 99.12, 98.941, 98.855, 98.85, 98.426, 98.371, 98.322, 98.219, 98.039, 97.981, 97.98, 97.812, 97.779, 97.709, 97.388, 97.088, 96.681, 96.651, 96.612, 96.524, 96.246, 96.152, 96.068, 95.822, 95.72, 95.704, 95.609, 95.465, 95.418, 94.992, 94.952, 94.896, 94.806, 94.629, 94.626, 94.542, 94.487, 94.473, 94.191, 94.128, 93.398, 93.162, 92.749, 92.274, 92.27, 92.259, 92.156, 92.081, 92.016, 91.69, 91.359, 91.333, 91.26, 91.004, 90.963, 90.735, 90.682, 90.647, 90.608, 90.464, 90.276, 89.975, 89.954, 89.75, 89.549, 89.377, 89.262, 89.216, 88.872, 88.719, 88.612, 88.433, 88.36, 88.344, 88.326, 87.992, 87.905, 87.491, 87.214, 87.138, 86.966, 86.749, 86.707, 86.379, 86.283, 86.119, 85.886, 85.766, 85.744, 85.73, 85.705, 85.674, 85.616, 85.516, 85.485, 85.31, 85.298, 85.25, 85.239, 85.202, 85.161, 85.102, 85.079, 84.931, 84.928, 84.785, 84.78, 84.641, 84.552, 84.388, 84.286, 84.217, 84.14, 84.089, 84.063, 83.843, 83.762, 83.689, 83.685, 83.357, 83.355, 83.192, 82.954, 82.907, 82.741, 82.72, 82.579, 82.527, 82.416, 81.977, 81.963, 81.805, 81.791, 81.55, 81.418, 80.962, 80.949, 80.918, 80.71, 80.556, 80.311, 80.236, 80.233, 80.124, 80.022, 80.016, 79.98, 79.887, 79.769, 79.678, 79.529, 79.526, 79.322, 79.316, 79.269, 79.234, 79.152, 79.017, 78.782, 78.732, 78.703, 78.653, 78.546, 78.525, 78.513, 78.483, 78.323, 78.072, 77.868, 77.861, 77.849, 77.835, 77.743, 77.741, 77.629, 77.567, 77.316, 77.127, 77.119, 77.077, 77.035, 76.927, 76.818, 76.764, 76.716, 76.707, 76.644, 76.422, 76.397, 76.313, 76.267, 76.135, 76.097, 76.029, 76.004, 75.985, 75.962, 75.938, 75.907, 75.633, 75.613, 75.586, 75.571, 75.456, 75.408, 75.397, 75.356, 75.301, 75.197, 75.175, 75.169, 75.129, 75.067, 75.061, 75.047, 75.021, 74.96, 74.939, 74.791, 74.659, 74.617, 74.264, 74.227, 74.224, 74.221, 74.138, 74.102, 74.039, 74.011, 73.86, 73.822, 73.615, 73.588, 73.587, 73.529, 73.503, 73.492, 73.41, 73.408, 73.388, 73.292, 73.156, 72.926, 72.915, 72.886, 72.884, 72.866, 72.778, 72.72, 72.673, 72.612, 72.469, 72.37, 72.306, 72.232, 72.009, 71.951, 71.867, 71.807, 71.796, 71.725, 71.707, 71.632, 71.627, 71.617, 71.607, 71.582, 71.375, 71.369, 71.256, 71.174, 71.14, 71.085, 71.038, 70.94, 70.913, 70.769, 70.735, 70.551, 70.527, 70.447, 70.438, 70.203, 70.177, 70.137, 70.046, 69.994, 69.803, 69.621, 69.479, 69.413, 69.349, 69.296, 69.281, 69.265, 69.154, 69.098, 69.08, 68.89, 68.719, 68.674, 68.665, 68.549, 68.537, 68.204, 68.01, 67.871, 67.803, 67.727, 67.7, 67.692, 67.666, 67.593, 67.533, 67.47, 67.445, 67.403, 67.37, 67.298, 67.249, 67.232, 67.186, 67.169, 67.137, 67.024, 67.021, 67.008, 66.928, 66.919, 66.885, 66.872, 66.863, 66.85, 66.836, 66.625, 66.604, 66.597, 66.59, 66.587, 66.574, 66.468, 66.424, 66.42, 66.414, 66.396, 66.357, 66.335, 66.277, 66.193, 66.175, 66.156, 66.144, 66.086, 65.905, 65.904, 65.876, 65.853, 65.823, 65.678, 65.668, 65.661, 65.596, 65.572, 65.485, 65.412, 65.393, 65.327, 65.231, 65.228, 65.201, 65.183, 65.165, 65.142, 65.123, 65.104, 65.074, 65.069, 65.045, 65.012, 64.989, 64.849, 64.84, 64.826, 64.789, 64.778, 64.77, 64.746, 64.63, 64.536, 64.485, 64.483, 64.458, 64.392, 64.285, 64.269, 64.175, 64.113, 64.099, 64.083, 63.999, 63.978, 63.968, 63.955, 63.931, 63.923, 63.916, 63.797, 63.757, 63.722, 63.583, 63.51, 63.509, 63.495, 63.435, 63.419, 63.358, 63.332, 63.293, 63.093, 62.997, 62.963, 62.897, 62.844, 62.774, 62.727, 62.698, 62.677, 62.627, 62.59, 62.578, 62.572, 62.529, 62.462, 62.418, 62.407, 62.381, 62.254, 62.252, 62.155, 62.091, 62.09, 62.049, 62.035, 61.992, 61.971, 61.963, 61.918, 61.91, 61.895, 61.887, 61.862, 61.837, 61.813, 61.779, 61.671, 61.57, 61.551, 61.503, 61.48, 61.454, 61.344, 61.316, 61.228, 61.188, 61.174, 61.166, 61.143, 61.117, 61.111, 61.077, 61.059, 61.006, 60.973, 60.902, 60.879, 60.869, 60.866, 60.828, 60.825, 60.786, 60.773, 60.735, 60.718, 60.708, 60.586, 60.584, 60.494, 60.423, 60.42, 60.384, 60.325, 60.279, 60.278, 60.255, 60.253, 60.236, 60.182, 60.15, 60.114, 60.056, 59.82, 59.801, 59.639, 59.624, 59.408, 59.248, 59.244, 59.214, 58.949, 58.861, 58.847, 58.782, 58.771, 58.724, 58.702, 58.668, 58.63, 58.591, 58.569, 58.554, 58.516, 58.489, 58.428, 58.421, 58.39, 58.384, 58.309, 58.305, 58.297, 58.295, 58.206, 58.154, 58.075, 58.037, 58.031, 57.998, 57.885, 57.818, 57.774, 57.737, 57.736, 57.718, 57.671, 57.651, 57.65, 57.554, 57.512, 57.406, 57.377, 57.299, 57.139, 57.095, 57.093, 57.007, 56.934, 56.892, 56.885, 56.863, 56.845, 56.799, 56.77, 56.769, 56.759, 56.745, 56.742, 56.734, 56.728, 56.726, 56.702, 56.615, 56.559, 56.541, 56.44, 56.416, 56.386, 56.379, 56.376, 56.367, 56.364, 56.359, 56.286, 56.232, 56.202, 56.134, 56.053, 55.893, 55.834, 55.785, 55.701, 55.699, 55.618, 55.614, 55.584, 55.547, 55.504, 55.423, 55.324, 55.317, 55.285, 55.271, 55.23, 55.184, 55.173, 55.107, 55.076, 55.069, 55.062, 54.983, 54.97, 54.928, 54.87, 54.779, 54.765, 54.752, 54.751, 54.651, 54.617, 54.557, 54.509, 54.483, 54.473, 54.468, 54.436, 54.407, 54.35, 54.285, 54.242, 54.239, 54.157, 54.063, 54.006, 53.947, 53.884, 53.875, 53.862, 53.849, 53.785, 53.779, 53.777, 53.758, 53.667, 53.623, 53.602, 53.495, 53.457, 53.418, 53.411, 53.371, 53.275, 53.272, 53.234, 53.225, 53.215, 53.207, 53.196, 53.056, 53.004, 52.998, 52.987, 52.982, 52.969, 52.933, 52.921, 52.912, 52.905, 52.892, 52.864, 52.822, 52.767, 52.751, 52.664, 52.644, 52.597, 52.566, 52.538, 52.462, 52.458, 52.34, 52.259, 52.242, 52.176, 52.102, 52.089, 52.076, 51.987, 51.976, 51.891, 51.881, 51.786, 51.746, 51.722, 51.712, 51.655, 51.634, 51.625, 51.623, 51.609, 51.607, 51.592, 51.558, 51.552, 51.518, 51.517, 51.514, 51.461, 51.439, 51.433, 51.417, 51.39, 51.339, 51.303, 51.251, 51.153, 51.146, 51.127, 51.123, 51.087, 51.067, 50.963, 50.949, 50.912, 50.848, 50.834, 50.824, 50.81, 50.803, 50.774, 50.625, 50.615, 50.614, 50.58, 50.571, 50.548, 50.504, 50.471, 50.469, 50.426, 50.424, 50.386, 50.362, 50.357, 50.296, 50.272, 50.253, 50.249, 50.218, 50.19, 50.189, 50.149, 50.142, 50.113, 50.11, 50.107, 50.081, 50.06, 50.012, 50.005, 49.966, 49.927, 49.925, 49.907, 49.899, 49.884, 49.864, 49.861, 49.851, 49.843, 49.799, 49.765, 49.757, 49.754, 49.728, 49.709, 49.692, 49.631, 49.598, 49.585, 49.578, 49.525, 49.472, 49.433, 49.42, 49.382, 49.378, 49.37, 49.325, 49.285, 49.284, 49.265, 49.223, 49.222, 49.213, 49.169, 49.156, 49.15, 49.111, 49.078, 49.01, 49.002, 48.968, 48.934, 48.881, 48.79, 48.754, 48.745, 48.719, 48.712, 48.698, 48.686, 48.654, 48.642, 48.616, 48.6, 48.555, 48.55, 48.548, 48.545, 48.53, 48.444, 48.441, 48.438, 48.387, 48.384, 48.345, 48.306, 48.271, 48.253, 48.209, 48.182, 48.101, 48.091, 48.004, 47.966, 47.904, 47.901, 47.899, 47.853, 47.838, 47.837, 47.766, 47.759, 47.718, 47.677, 47.642, 47.633, 47.604, 47.509, 47.505, 47.489, 47.485, 47.429, 47.428, 47.379, 47.358, 47.351, 47.34, 47.335, 47.319, 47.29, 47.28, 47.258, 47.2, 47.163, 47.138, 47.114, 47.106, 47.104, 47.1, 47.06, 47.037, 47.02, 47.01, 46.964, 46.953, 46.951, 46.938, 46.927, 46.9, 46.883, 46.856, 46.839, 46.829, 46.802, 46.797, 46.768, 46.745, 46.741, 46.734, 46.719, 46.717, 46.698, 46.683, 46.667, 46.655, 46.648, 46.63, 46.628, 46.593, 46.536, 46.53, 46.522, 46.502, 46.501, 46.5, 46.493, 46.47, 46.469, 46.434, 46.427, 46.394, 46.389, 46.374, 46.37, 46.302, 46.295, 46.257, 46.251, 46.25, 46.226, 46.223, 46.195, 46.185, 46.152, 46.122, 46.111, 46.093, 46.033, 45.994, 45.989, 45.982, 45.944, 45.852, 45.842, 45.803, 45.77, 45.768, 45.757, 45.708, 45.706, 45.652, 45.637, 45.568, 45.549, 45.515, 45.511, 45.509, 45.503, 45.458, 45.448, 45.423, 45.412, 45.294, 45.293, 45.291, 45.259, 45.251, 45.228, 45.18, 45.177, 45.114, 45.094, 45.084, 45.08, 45.079, 45.072, 45.053, 45.049, 45.037, 45.027, 45.019, 44.939, 44.932, 44.896, 44.841, 44.816, 44.79, 44.784, 44.778, 44.713, 44.695, 44.689, 44.684, 44.677, 44.668, 44.619, 44.579, 44.534, 44.523, 44.52, 44.505, 44.504, 44.487, 44.483, 44.476, 44.433, 44.421, 44.395, 44.379, 44.372, 44.357, 44.336, 44.317, 44.274, 44.272, 44.237, 44.195, 44.161, 44.136, 44.119, 44.11, 44.067, 44.058, 44.054, 44.016, 44.001, 43.945, 43.931, 43.897, 43.876, 43.854, 43.846, 43.841, 43.81, 43.764, 43.761, 43.713, 43.711, 43.656, 43.63, 43.609, 43.604, 43.601, 43.596, 43.587, 43.51, 43.485, 43.483, 43.461, 43.457, 43.445, 43.439, 43.396, 43.383, 43.338, 43.329, 43.327, 43.271, 43.247, 43.244, 43.229, 43.219, 43.217, 43.183, 43.178, 43.168, 43.158, 43.156, 43.15, 43.148, 43.119, 43.111, 43.082, 43.062, 43.052, 43.05, 42.983, 42.964, 42.951, 42.924, 42.923, 42.919, 42.918, 42.901, 42.865, 42.851, 42.813, 42.795, 42.764, 42.763, 42.746, 42.696, 42.683, 42.639, 42.63, 42.552, 42.528, 42.505, 42.502, 42.497, 42.445, 42.437, 42.436, 42.415, 42.414, 42.397, 42.381, 42.375, 42.364, 42.352, 42.339, 42.307, 42.302, 42.251, 42.213, 42.185, 42.182, 42.105, 42.101, 42.092, 42.078, 42.072, 42.056, 42.039, 42.021, 42.008, 41.976, 41.973, 41.954, 41.943, 41.873, 41.868, 41.866, 41.864, 41.858, 41.836, 41.826, 41.817, 41.797, 41.794, 41.783, 41.769, 41.752, 41.728, 41.704, 41.659, 41.623, 41.608, 41.591, 41.554, 41.548, 41.504, 41.496, 41.424, 41.414, 41.413, 41.378, 41.374, 41.36, 41.351, 41.339, 41.332, 41.323, 41.316, 41.274, 41.256, 41.241, 41.239, 41.235, 41.21, 41.139, 41.134, 41.12, 41.087, 41.07, 41.038, 41.028, 40.996, 40.995, 40.952, 40.905, 40.887, 40.879, 40.874, 40.871, 40.865, 40.86, 40.779, 40.763, 40.752, 40.729, 40.717, 40.699, 40.681, 40.671, 40.661, 40.658, 40.655, 40.648, 40.619, 40.6, 40.57, 40.563, 40.543, 40.52, 40.439, 40.433, 40.425, 40.389, 40.367, 40.353, 40.342, 40.324, 40.308, 40.29, 40.289, 40.264, 40.234, 40.222, 40.203, 40.167, 40.146, 40.093, 40.087, 40.029, 40.004, 39.93, 39.904, 39.894, 39.885, 39.881, 39.878, 39.855, 39.843, 39.837, 39.826, 39.805, 39.791, 39.766, 39.764, 39.76, 39.754, 39.75, 39.73, 39.72, 39.714, 39.708, 39.697, 39.673, 39.648, 39.645, 39.643, 39.637, 39.623, 39.578, 39.574, 39.569, 39.558, 39.53, 39.522, 39.52, 39.511, 39.508, 39.499, 39.495, 39.494, 39.492, 39.486, 39.485, 39.443, 39.421, 39.416, 39.384, 39.362, 39.357, 39.354, 39.346, 39.342, 39.337, 39.335, 39.296, 39.294, 39.287, 39.254, 39.232, 39.228, 39.219, 39.201, 39.176, 39.129, 39.075, 39.053, 39.032, 39.031, 38.96, 38.954, 38.942, 38.94, 38.907, 38.903, 38.899, 38.888, 38.884, 38.883, 38.88, 38.852, 38.849, 38.842, 38.805, 38.791, 38.788, 38.786, 38.774, 38.765, 38.762, 38.745, 38.741, 38.732, 38.7, 38.693, 38.692, 38.674, 38.641, 38.618, 38.61, 38.605, 38.587, 38.581, 38.56, 38.549, 38.539, 38.515, 38.489, 38.487, 38.484, 38.476, 38.463, 38.462, 38.452, 38.398, 38.389, 38.377, 38.368, 38.283, 38.259, 38.247, 38.234, 38.226, 38.221, 38.204, 38.198, 38.185, 38.176, 38.17, 38.163, 38.154, 38.134, 38.129, 38.127, 38.123, 38.114, 38.095, 38.091, 38.054, 38.05, 38.047, 38.017, 37.945, 37.944, 37.943, 37.936, 37.907, 37.894, 37.883, 37.879, 37.876, 37.855, 37.832, 37.82, 37.817, 37.784, 37.778, 37.773, 37.755, 37.739, 37.736, 37.72, 37.704, 37.677, 37.642, 37.623, 37.619, 37.61, 37.598, 37.595, 37.575, 37.569, 37.546, 37.541, 37.536, 37.535, 37.523, 37.503, 37.502, 37.495, 37.449, 37.446, 37.433, 37.426, 37.412, 37.363, 37.349, 37.345, 37.342, 37.332, 37.327, 37.315, 37.265, 37.26, 37.254, 37.187, 37.17, 37.152, 37.151, 37.12, 37.102, 37.093, 37.086, 37.074, 37.063, 37.059, 37.056, 37.05, 37.048, 37.035, 36.984, 36.952, 36.926, 36.908, 36.902, 36.901, 36.9, 36.868, 36.856, 36.848, 36.839, 36.829, 36.808, 36.757, 36.743, 36.72, 36.704, 36.703, 36.702, 36.687, 36.678, 36.663, 36.653, 36.65, 36.645, 36.632, 36.605, 36.602, 36.599, 36.58, 36.572, 36.56, 36.554, 36.534, 36.523, 36.519, 36.489, 36.473, 36.453, 36.451, 36.447, 36.424, 36.414, 36.408, 36.407, 36.401, 36.386, 36.381, 36.34, 36.316, 36.314, 36.304, 36.296, 36.289, 36.271, 36.25, 36.23, 36.224, 36.201, 36.187, 36.177, 36.157, 36.152, 36.149, 36.14, 36.108, 36.107, 36.091, 36.089, 36.086, 36.081, 36.071, 36.068, 36.06, 36.03, 36.027, 36.024, 36.012, 36.009, 36.003, 36.001, 35.997, 35.988, 35.95, 35.937, 35.922, 35.89, 35.881, 35.857, 35.845, 35.811, 35.81, 35.803, 35.8, 35.795, 35.776, 35.769, 35.731, 35.722, 35.716, 35.713, 35.705, 35.691, 35.685, 35.679, 35.674, 35.634, 35.627, 35.624, 35.609, 35.6, 35.582, 35.572, 35.571, 35.566, 35.56, 35.535, 35.482, 35.455, 35.454, 35.448, 35.444, 35.433, 35.421, 35.393, 35.336, 35.334, 35.327, 35.323, 35.321, 35.318, 35.305, 35.302, 35.236, 35.229, 35.228, 35.212, 35.209, 35.19, 35.171, 35.17, 35.153, 35.146, 35.144, 35.138, 35.136, 35.119, 35.105, 35.067, 35.065, 35.039, 35.022, 35.012, 35.01, 35.007, 34.998, 34.969, 34.958, 34.95, 34.941, 34.909, 34.888, 34.88, 34.863, 34.856, 34.834, 34.812, 34.804, 34.798, 34.797, 34.792, 34.773, 34.762, 34.759, 34.755, 34.748, 34.742, 34.727, 34.696, 34.667, 34.647, 34.638, 34.63, 34.629, 34.622, 34.62, 34.612, 34.604, 34.603, 34.593, 34.59, 34.58, 34.577, 34.576, 34.509, 34.508, 34.5, 34.495, 34.492, 34.449, 34.443, 34.437, 34.434, 34.433, 34.424, 34.423, 34.419, 34.403, 34.401, 34.381, 34.375, 34.334, 34.319, 34.314, 34.308, 34.304, 34.3, 34.287, 34.275, 34.272, 34.27, 34.269, 34.262, 34.259, 34.238, 34.213, 34.206, 34.202, 34.191, 34.186, 34.183, 34.165, 34.158, 34.154, 34.153, 34.147, 34.141, 34.139, 34.138, 34.118, 34.116, 34.107, 34.094, 34.081, 34.08, 34.078, 34.077, 34.062, 34.055, 34.045, 34.044, 34.01, 33.999, 33.995, 33.993, 33.972, 33.955, 33.953, 33.949, 33.939, 33.937, 33.933, 33.928, 33.912, 33.906, 33.881, 33.875, 33.853, 33.841, 33.839, 33.826, 33.815, 33.802, 33.793, 33.775, 33.762, 33.757, 33.755, 33.726, 33.713, 33.709, 33.699, 33.696, 33.68, 33.67, 33.667, 33.661, 33.655, 33.646, 33.633, 33.611, 33.607, 33.577, 33.56, 33.557, 33.551, 33.533, 33.531, 33.52, 33.5, 33.498, 33.489, 33.486, 33.478, 33.477, 33.474, 33.468, 33.44, 33.439, 33.435, 33.434, 33.432, 33.431, 33.426, 33.413, 33.381, 33.375, 33.371, 33.37, 33.367, 33.365, 33.361, 33.349, 33.341, 33.324, 33.318, 33.314, 33.312, 33.307, 33.28, 33.279, 33.261, 33.241, 33.233, 33.223, 33.22, 33.215, 33.207, 33.205, 33.202, 33.184, 33.183, 33.177, 33.162, 33.128, 33.125, 33.123, 33.114, 33.095, 33.094, 33.089, 33.084, 33.078, 33.066, 33.06, 33.055, 33.039, 33.022, 33.017, 32.985, 32.949, 32.944, 32.941, 32.932, 32.92, 32.89, 32.88, 32.847, 32.84, 32.838, 32.837, 32.836, 32.835, 32.797, 32.794, 32.762, 32.759, 32.756, 32.745, 32.732, 32.719, 32.685, 32.68, 32.668, 32.661, 32.66, 32.659, 32.652, 32.643, 32.632, 32.626, 32.625, 32.612, 32.611, 32.609, 32.608, 32.605, 32.603, 32.595, 32.593, 32.592, 32.572, 32.568, 32.563, 32.556, 32.537, 32.531, 32.518, 32.493, 32.465, 32.463, 32.451, 32.448, 32.447, 32.445, 32.444, 32.443, 32.442, 32.439, 32.436, 32.42, 32.414, 32.392, 32.371, 32.365, 32.364, 32.352, 32.34, 32.325, 32.322, 32.316, 32.314, 32.305, 32.302, 32.295, 32.291, 32.283, 32.277, 32.275, 32.27, 32.263, 32.254, 32.233, 32.23, 32.22, 32.19, 32.188, 32.124, 32.108, 32.106, 32.103, 32.101, 32.1, 32.081, 32.069, 32.063, 32.06, 32.053, 32.047, 32.043, 32.023, 32.022, 32.02, 32.014, 32.012, 32.008, 31.971, 31.967, 31.961, 31.956, 31.95, 31.945, 31.943, 31.93, 31.926, 31.903, 31.88, 31.865, 31.857, 31.852, 31.842, 31.839, 31.827, 31.825, 31.823, 31.819, 31.809, 31.802, 31.799, 31.795, 31.793, 31.79, 31.772, 31.765, 31.758, 31.756, 31.751, 31.726, 31.707, 31.706, 31.693, 31.687, 31.684, 31.683, 31.668, 31.664, 31.657, 31.656, 31.646, 31.641, 31.634, 31.617, 31.616, 31.615, 31.592, 31.591, 31.562, 31.557, 31.541, 31.539, 31.537, 31.529, 31.528, 31.499, 31.497, 31.496, 31.493, 31.491, 31.482, 31.481, 31.459, 31.453, 31.45, 31.447, 31.444, 31.443, 31.442, 31.437, 31.414, 31.398, 31.396, 31.394, 31.386, 31.379, 31.363, 31.354, 31.349, 31.337, 31.335, 31.306, 31.305, 31.291, 31.28, 31.274, 31.269, 31.265, 31.263, 31.261, 31.254, 31.248, 31.245, 31.241, 31.23, 31.225, 31.214, 31.195, 31.182, 31.168, 31.16, 31.14, 31.136, 31.134, 31.132, 31.103, 31.095, 31.094, 31.093, 31.073, 31.062, 31.059, 31.039, 31.036, 31.015, 31.014, 31.013, 31.009, 30.99, 30.978, 30.951, 30.941, 30.925, 30.915, 30.899, 30.887, 30.881, 30.88, 30.878, 30.876, 30.865, 30.857, 30.84, 30.807, 30.802, 30.798, 30.796, 30.791, 30.78, 30.77, 30.768, 30.76, 30.759, 30.758, 30.747, 30.711, 30.71, 30.702, 30.701, 30.671, 30.665, 30.664, 30.644, 30.637, 30.635, 30.63, 30.628, 30.619, 30.617, 30.61, 30.608, 30.605, 30.6, 30.599, 30.591, 30.589, 30.571, 30.57, 30.547, 30.54, 30.539, 30.533, 30.499, 30.495, 30.491, 30.488, 30.486, 30.469, 30.454, 30.449, 30.448, 30.434, 30.43, 30.419, 30.418, 30.411, 30.388, 30.367, 30.338, 30.327, 30.321, 30.307, 30.306, 30.296, 30.29, 30.281, 30.278, 30.254, 30.249, 30.246, 30.244, 30.223, 30.21, 30.208, 30.204, 30.182, 30.176, 30.163, 30.16, 30.158, 30.131, 30.123, 30.117, 30.104, 30.098, 30.094, 30.082, 30.079, 30.077, 30.076, 30.061, 30.051, 30.045, 30.044, 30.037, 30.035, 30.022, 30.021, 30.013, 30.004, 29.999, 29.996, 29.978, 29.973, 29.963, 29.962, 29.955, 29.95, 29.949, 29.931, 29.928, 29.924, 2

This is our target column and it has 0 null values

In [21]:
df['ReleaseDate']

0       2023-09-15
1       2023-08-30
2       2023-10-17
3       2023-07-08
4       2023-09-29
           ...
9995    2001-03-01
9996    2004-10-01
9997    2018-10-24
9998    2018-11-21
9999    2011-02-11
Name: ReleaseDate, Length: 9949, dtype: object

In [22]:
df['ReleaseDate'] = pd.to_datetime(df['ReleaseDate'])

print(df['ReleaseDate'])

0      2023-09-15
1      2023-08-30
2      2023-10-17
3      2023-07-08
4      2023-09-29
          ...
9995   2001-03-01
9996   2004-10-01
9997   2018-10-24
9998   2018-11-21
9999   2011-02-11
Name: ReleaseDate, Length: 9949, dtype: datetime64[ns]

In [23]:
df['ReleaseYear'] = df['ReleaseDate'].dt.year

# Display unique years
unique_years = df['ReleaseYear'].unique()
print(unique_years)

[2023. 2019. 2022. 2017. 2014. 2004. 2018. 2021. 1993. 1973. 2009. 2005.
 2001. 1980. 2000. 1995. 2007. 2010. 2016. 2013. 2006. 1999. 2002. 2008.
 2012. 1997. 1994. 2011. 1972. 2020. 2003. 2015. 2024. 1977. 1971. 1988.
 1998. 1983. 1950. 1987. 1981. 1991. 1990. 1996. 1989. 1941. 1937. 1978.
 1984. 1985. 1992. 1979. 1974. 1986. 1976. 1982. 1951. 1966. 1960. 1942.
 1967. 1959. 1939. 1975. 1940. 1968. 1956. 1933. 1961. 1970. 1963. 1955.
 2025. 1957. 1953. 1946. 1954.   nan 1965. 1962. 1964. 1945. 1969. 1958.
 1943. 1949. 1931. 1922. 1932. 2026. 1935. 1952. 1948. 1910. 1927. 1925.
 1944. 1930. 1938. 2027. 1929. 1947. 1936. 1920. 1902. 1934. 1928. 1921.]

In [24]:
def map_to_decade(year):
    if np.isnan(year):  # Handling NaN values
        return np.nan
    return int(10 * (year // 10))

# Apply the function to create a new column 'Decade'
df['Decade'] = df['ReleaseYear'].apply(map_to_decade)

# Display the DataFrame with the 'Decade' column
print(df[['ReleaseYear', 'Decade']].drop_duplicates())

      ReleaseYear  Decade
0          2023.0  2020.0
11         2019.0  2010.0
34         2022.0  2020.0
49         2017.0  2010.0
78         2014.0  2010.0
...           ...     ...
7065       1920.0  1920.0
7433       1902.0  1900.0
8851       1934.0  1930.0
9303       1928.0  1920.0
9962       1921.0  1920.0

[108 rows x 2 columns]

In [25]:
df.drop(['ReleaseDate', 'ReleaseYear'], axis=1, inplace=True)

In [26]:
df['Decade']

0       2020.0
1       2020.0
2       2020.0
3       2020.0
4       2020.0
         ...
9995    2000.0
9996    2000.0
9997    2010.0
9998    2010.0
9999    2010.0
Name: Decade, Length: 9949, dtype: float64

In [27]:
df['Decade'].fillna(method='ffill', inplace=True)

We will fill the null values by forward filling methode

In [28]:
unique_years = df['Decade'].unique()
print(unique_years)

[2020. 2010. 2000. 1990. 1970. 1980. 1950. 1940. 1930. 1960. 1920. 1910.
 1900.]

In [29]:
df['Budget']

0       100000000
1        70000000
2               0
3       291000000
4               0
          ...
9995     60000000
9996     60000000
9997            0
9998      2000000
9999     13000000
Name: Budget, Length: 9949, dtype: int64

In [30]:
zero_budget_count = (df['Budget'] == 0).sum()

print("Number of values with 0 in the 'Budget' column:", zero_budget_count)

Number of values with 0 in the 'Budget' column: 4422

We have 4422 columns which has 0 values its similar to have null values because budget cannot be 0

We want to replace the 0 values in the 'Budget' column with the average budget value for their associated decade

In [31]:
df['Budget'] = df.groupby('Decade')['Budget'].transform(lambda x: x.replace(0, x.mean()))

df['Budget']

0       1.000000e+08
1       7.000000e+07
2       1.069661e+07
3       2.910000e+08
4       1.069661e+07
            ...
9995    6.000000e+07
9996    6.000000e+07
9997    2.518582e+07
9998    2.000000e+06
9999    1.300000e+07
Name: Budget, Length: 9949, dtype: float64

Processing of ProductionCompanies and ProductionCountries

In [32]:
df['ProductionCompanies']

0       [{'id': 1020, 'logo_path': '/kuUIHNwMec4dwOLgh...
1       [{'id': 1423, 'logo_path': '/1rbAwGQzrNvXDICD6...
2       [{'id': 2785, 'logo_path': '/l5zW8jjmQOCx2dFmv...
3       [{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...
4       [{'id': 204005, 'logo_path': None, 'name': 'Ro...
                              ...
9995    [{'id': 376, 'logo_path': None, 'name': 'Indus...
9996    [{'id': 919, 'logo_path': None, 'name': 'Beaco...
9997    [{'id': 34780, 'logo_path': '/ahgzFRXKF2fkOV0W...
9998    [{'id': 35849, 'logo_path': '/bHYIJoy2ri7crfHu...
9999    [{'id': 7377, 'logo_path': '/zdVYfWyiQmLgyq8V7...
Name: ProductionCompanies, Length: 9949, dtype: object

In [33]:
import ast

def get_feature_mapper(df, column):
    result = {}
    for i in range(len(df)):
        try:
            items = ast.literal_eval(df.loc[i, column])
            for item in items:
                name = item['name']
                if name in result:
                    result[name].append(i)
                else:
                    result[name] = [i]
        except Exception as e:
            print('-')
    return result

The cardinality for the column ProductionCompanies is high, with 9980 different production companies. Therefore, we won't consider this column as it might not be discriminative enough.

In [34]:
# eliminating the column ProductionCompanies
df.drop('ProductionCompanies', axis=1, inplace=True)

In [35]:
prod_contries_map = get_feature_mapper(df, 'ProductionCountries')
len(prod_contries_map.keys())

-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-

107

In [36]:
prod_contries_map.keys()

dict_keys(['United States of America', 'Italy', 'Spain', 'South Korea', 'China', 'India', 'Canada', 'France', 'Australia', 'United Kingdom', 'Germany', 'Brazil', 'Mexico', 'Japan', 'Russia', 'Sweden', 'United Arab Emirates', 'Nigeria', 'Poland', 'Serbia', 'Ukraine', 'Thailand', 'Finland', 'Norway', 'Switzerland', 'Bangladesh', 'Austria', 'Kazakhstan', 'Belgium', 'Hong Kong', 'Cyprus', 'Greece', 'Denmark', 'Ireland', 'New Zealand', 'Chile', 'Philippines', 'Singapore', 'Taiwan', 'Puerto Rico', 'Iceland', 'Czech Republic', 'Colombia', 'Argentina', 'Peru', 'Bulgaria', 'Netherlands', 'Hungary', 'South Africa', 'Latvia', 'Dominican Republic', 'Uruguay', 'Venezuela', 'Malta', 'Turkey', 'Saudi Arabia', 'Portugal', 'Morocco', 'Slovenia', 'Israel', 'Luxembourg', 'Indonesia', 'Panama', 'Bolivia', 'Romania', 'Guadaloupe', 'Iran', 'Costa Rica', 'Honduras', 'Albania', 'Jordan', 'Pakistan', 'Lithuania', 'Vietnam', 'Malawi', 'Soviet Union', 'Estonia', 'Botswana', 'Paraguay', 'Yugoslavia', 'Georgia', 'Slovakia', 'Malaysia', 'Mauritius', 'Guatemala', 'Macao', 'Jamaica', 'Lebanon', 'Qatar', 'Zimbabwe', 'Egypt', 'Senegal', 'Czechoslovakia', 'East Germany', 'Kenya', 'Solomon Islands', 'Cambodia', 'Iraq', 'Tunisia', 'Ecuador', 'Croatia', 'Liechtenstein', 'Namibia', 'Ghana', 'Bahamas', 'Aruba', 'Moldova'])

The column ProductionCountries had high cardinality (107). On the other hand, we considered this column to be meaningful to the model. Therefore, we decided to reduce the number of columns by creating groups of production countries based on continents.

In [37]:
country_region = {
    'United States of America': 'North America',
    'Italy': 'Europe',
    'Spain': 'Europe',
    'South Korea': 'Asia',
    'China': 'Asia',
    'India': 'Asia',
    'Canada': 'North America',
    'France': 'Europe',
    'Australia': 'Oceania',
    'United Kingdom': 'Europe',
    'Germany': 'Europe',
    'Brazil': 'South America',
    'Mexico': 'North America',
    'Japan': 'Asia',
    'Russia': 'Europe',
    'Sweden': 'Europe',
    'United Arab Emirates': 'Asia',
    'Nigeria': 'Africa',
    'Poland': 'Europe',
    'Serbia': 'Europe',
    'Ukraine': 'Europe',
    'Thailand': 'Asia',
    'Finland': 'Europe',
    'Norway': 'Europe',
    'Switzerland': 'Europe',
    'Bangladesh': 'Asia',
    'Austria': 'Europe',
    'Kazakhstan': 'Asia',
    'Belgium': 'Europe',
    'Hong Kong': 'Asia',
    'Cyprus': 'Europe',
    'Greece': 'Europe',
    'Denmark': 'Europe',
    'Ireland': 'Europe',
    'New Zealand': 'Oceania',
    'Chile': 'South America',
    'Philippines': 'Asia',
    'Singapore': 'Asia',
    'Taiwan': 'Asia',
    'Puerto Rico': 'North America',
    'Iceland': 'Europe',
    'Argentina': 'South America',
    'Czech Republic': 'Europe',
    'Colombia': 'South America',
    'Peru': 'South America',
    'Bulgaria': 'Europe',
    'Netherlands': 'Europe',
    'Hungary': 'Europe',
    'South Africa': 'Africa',
    'Latvia': 'Europe',
    'Dominican Republic': 'North America',
    'Uruguay': 'South America',
    'Venezuela': 'South America',
    'Malta': 'Europe',
    'Turkey': 'Asia',
    'Saudi Arabia': 'Asia',
    'Portugal': 'Europe',
    'Morocco': 'Africa',
    'Slovenia': 'Europe',
    'Israel': 'Asia',
    'Luxembourg': 'Europe',
    'Indonesia': 'Asia',
    'Panama': 'North America',
    'Bolivia': 'South America',
    'Romania': 'Europe',
    'Guadaloupe': 'North America',
    'Iran': 'Asia',
    'Costa Rica': 'North America',
    'Honduras': 'North America',
    'Albania': 'Europe',
    'Jordan': 'Asia',
    'Pakistan': 'Asia',
    'Lithuania': 'Europe',
    'Vietnam': 'Asia',
    'Malawi': 'Africa',
    'Soviet Union': 'Europe',
    'Estonia': 'Europe',
    'Botswana': 'Africa',
    'Paraguay': 'South America',
    'Yugoslavia': 'Europe',
    'Georgia': 'Asia',
    'Slovakia': 'Europe',
    'Malaysia': 'Asia',
    'Mauritius': 'Africa',
    'Guatemala': 'North America',
    'Macao': 'Asia',
    'Jamaica': 'North America',
    'Lebanon': 'Asia',
    'Qatar': 'Asia',
    'Zimbabwe': 'Africa',
    'Egypt': 'Africa',
    'Senegal': 'Africa',
    'Czechoslovakia': 'Europe',
    'East Germany': 'Europe',
    'Kenya': 'Africa',
    'Solomon Islands': 'Oceania',
    'Cambodia': 'Asia',
    'Iraq': 'Asia',
    'Tunisia': 'Africa',
    'Ecuador': 'South America',
    'Croatia': 'Europe',
    'Liechtenstein': 'Europe',
    'Namibia': 'Africa',
    'Ghana': 'Africa',
    'Bahamas': 'North America',
    'Aruba': 'North America',
    'Moldova': 'Europe'
}

In [38]:
df['Country'] = df['ProductionCountries'].apply(lambda x: ast.literal_eval(x)[0]['name'] if x and ast.literal_eval(x) else None)
df['Region'] = df['Country'].map(country_region)
print(df[['ProductionCountries', 'Country', 'Region']])

                                    ProductionCountries  \
0     [{'iso_3166_1': 'US', 'name': 'United States o...
1     [{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_...
2     [{'iso_3166_1': 'US', 'name': 'United States o...
3     [{'iso_3166_1': 'US', 'name': 'United States o...
4               [{'iso_3166_1': 'ES', 'name': 'Spain'}]
...                                                 ...
9995  [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...
9996  [{'iso_3166_1': 'US', 'name': 'United States o...
9997  [{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...
9998  [{'iso_3166_1': 'IS', 'name': 'Iceland'}, {'is...
9999  [{'iso_3166_1': 'US', 'name': 'United States o...

                       Country         Region
0     United States of America  North America
1                        Italy         Europe
2     United States of America  North America
3     United States of America  North America
4                        Spain         Europe
...                        ...            ...
9995                   Germany         Europe
9996  United States of America  North America
9997                   Belgium         Europe
9998                   Iceland         Europe
9999  United States of America  North America

[9949 rows x 3 columns]

Using this strategy, we were able to reduce the cardinality for ProductionCountries from 107 to 6

Still we have nan values in country column so we want to replace NaN values in the 'Region' column with the mode of 'Region' for rows with the same 'OriginalLanguage'

In [39]:
df['Region'].fillna(df['Region'].mode().iloc[0], inplace=True)

# Display the updated DataFrame
print(df[['Country', 'Region']])

                       Country         Region
0     United States of America  North America
1                        Italy         Europe
2     United States of America  North America
3     United States of America  North America
4                        Spain         Europe
...                        ...            ...
9995                   Germany         Europe
9996  United States of America  North America
9997                   Belgium         Europe
9998                   Iceland         Europe
9999  United States of America  North America

[9949 rows x 2 columns]

In [40]:
df = df.drop(['ProductionCountries', 'Country'], axis=1)

In [41]:
df['TagLine']

0                          They'll die when they're dead.
1                               Justice knows no borders.
2       Neon lights... Suits with shoulder pads... Jum...
3                             We all share the same fate.
4       Attempting to survive in the middle of nowhere...
                              ...
9995                               America Likes to Watch
9996    Their greatest challenge lies in rescuing one ...
9997                                                  NaN
9998                          Survival is the only option
9999       Find out what's possible if you never give up.
Name: TagLine, Length: 9949, dtype: object

In Tagline column we have almost 25% null values and its all about strings

In [42]:
df['Overview']

0       Armed with every weapon they can get their han...
1       Robert McCall finds himself at home in Souther...
2       In 1980s Hollywood, action star Johnny Cage is...
3       Ethan Hunt and his IMF team embark on their mo...
4       A young pregnant woman named Mia escapes from ...
                              ...
9995    When Eastern European criminals Oleg and Emil ...
9996    Under the watchful eye of his mentor, Captain ...
9997    40-year-old Bertrand has been suffering from d...
9998    A man stranded in the Arctic is finally about ...
9999    Tells the story of Justin Bieber, the kid from...
Name: Overview, Length: 9949, dtype: object

In [43]:
def summarize_overview(overview_text):
    # Check if the overview_text is a valid string
    if isinstance(overview_text, str):
        # Preprocessing the data
        clean_text = re.sub(r'\W', ' ', overview_text.lower())
        clean_text = re.sub(r'\d', ' ', clean_text)
        clean_text = re.sub(r'\s+', ' ', clean_text)

        # Tokenize sentences
        sentences = nltk.sent_tokenize(clean_text)

        # Stopword list
        stop_words = nltk.corpus.stopwords.words('english')

        # Word counts
        word2count = {}
        for word in nltk.word_tokenize(clean_text):
            if word not in stop_words:
                if word not in word2count.keys():
                    word2count[word] = 1
                else:
                    word2count[word] += 1

        # Converting counts to weights
        max_count = max(word2count.values())
        for key in word2count.keys():
            word2count[key] = word2count[key] / max_count

        # Product sentence scores
        sent2score = {}
        for sentence in sentences:
            for word in nltk.word_tokenize(sentence.lower()):
                if word in word2count.keys():
                    if len(sentence.split(' ')) < 25:
                        if sentence not in sent2score.keys():
                            sent2score[sentence] = word2count[word]
                        else:
                            sent2score[sentence] += word2count[word]

        # Find the top sentence to use as a summary
        if sent2score:
            summary_sentence = heapq.nlargest(1, sent2score, key=sent2score.get)[0]
            return summary_sentence
        else:
            return clean_text  # Use the entire cleaned text as the summary

    else:
        return overview_text  # If not a string, return the original value

# Apply the summarization function to rows with null 'TagLine'
null_tagline_rows = df[df['TagLine'].isnull()]

# Apply the summarize_overview function to 'Overview'
summaries = df.loc[null_tagline_rows.index, 'Overview'].apply(summarize_overview)

# Replace null values in 'TagLine' with the summarized values
df.loc[null_tagline_rows.index, 'TagLine'] = summaries

# Display the updated DataFrame
print(df[['Overview', 'TagLine']])

                                               Overview  \
0     Armed with every weapon they can get their han...
1     Robert McCall finds himself at home in Souther...
2     In 1980s Hollywood, action star Johnny Cage is...
3     Ethan Hunt and his IMF team embark on their mo...
4     A young pregnant woman named Mia escapes from ...
...                                                 ...
9995  When Eastern European criminals Oleg and Emil ...
9996  Under the watchful eye of his mentor, Captain ...
9997  40-year-old Bertrand has been suffering from d...
9998  A man stranded in the Arctic is finally about ...
9999  Tells the story of Justin Bieber, the kid from...

                                                TagLine
0                        They'll die when they're dead.
1                             Justice knows no borders.
2     Neon lights... Suits with shoulder pads... Jum...
3                           We all share the same fate.
4     Attempting to survive in the middle of nowhere...
...                                                 ...
9995                             America Likes to Watch
9996  Their greatest challenge lies in rescuing one ...
9997   year old bertrand has been suffering from dep...
9998                        Survival is the only option
9999     Find out what's possible if you never give up.

[9949 rows x 2 columns]

So, we have lots of null values in the TagLine column
Just replace all the null values with the associative summerised value of Overview column

In [44]:
df['RunTime']

0       103
1       109
2        80
3       164
4       109
       ...
9995    120
9996    115
9997    122
9998     98
9999    105
Name: RunTime, Length: 9949, dtype: int64

We have lots of noice so we will remove all those rows which RunTime values is less than 60 min.

In [45]:
count_less_than_60 = df[df['RunTime'] < 60].shape[0]
print(f'The number of records with RunTime less than 80 is: {count_less_than_60}')

The number of records with RunTime less than 80 is: 427

In [46]:
df = df[df['RunTime'] >= 80]

Now, we left with 9030/10000 raws and it has clean data

In [47]:
df['Revenue']

0        30000000
1       176933602
2               0
3       567148955
4               0
          ...
9995     56359980
9996     74541707
9997            0
9998      4100000
9999     98500000
Name: Revenue, Length: 9030, dtype: int64

In [48]:
zero_Revenue_count = (df['Revenue'] == 0).sum()

print("Number of values with 0 in the 'Revenue' column:", zero_Revenue_count)


df['Revenue'] = df.groupby('Decade')['Revenue'].transform(lambda x: x.replace(0, x.mean()))

df['Revenue']

Number of values with 0 in the 'Revenue' column: 3307

0       3.000000e+07
1       1.769336e+08
2       2.724180e+07
3       5.671490e+08
4       2.724180e+07
            ...
9995    5.635998e+07
9996    7.454171e+07
9997    9.053819e+07
9998    4.100000e+06
9999    9.850000e+07
Name: Revenue, Length: 9030, dtype: float64

In Revenue Column still we have so many 0 values so we deal like a Budgets column

In [49]:
df['Genres']

0       Action, Adventure, Thriller
1           Action, Thriller, Crime
2        Animation, Action, Fantasy
3                  Action, Thriller
4                   Thriller, Drama
                   ...
9995        Action, Crime, Thriller
9996        Drama, Action, Thriller
9997                  Drama, Comedy
9998                          Drama
9999     Music, Documentary, Family
Name: Genres, Length: 9030, dtype: object

In [50]:
mlb = MultiLabelBinarizer()
genres = mlb.fit_transform(df['Genres'].str.split(', '))
genre_df = pd.DataFrame(genres, columns=mlb.classes_)
df = pd.concat([df, genre_df], axis=1)

In [51]:
df.drop('Genres', axis=1, inplace=True)

In [56]:
df.drop('', axis=1, inplace=True)

In [59]:
df.to_csv('movie_II.csv', index=False)

In [64]:
numeric_cols = ['Popularity', 'VoteAverage', 'VoteCount', 'Budget', 'RunTime', 'Revenue', 'Decade']

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler()),
])

# Create the column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_cols)
    ])

# Apply the pipeline to your DataFrame
X_transformed = preprocessor.fit_transform(df)

In [65]:
df.columns

Index(['OriginalLanguage', 'OriginalTitle', 'Overview', 'Popularity', 'Title',
       'VoteAverage', 'VoteCount', 'Budget', 'TagLine', 'RunTime', 'Revenue',
       'Decade', 'Region', 'Action', 'Adventure', 'Animation', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History ',
       'Horror', 'Music', 'Mystery', 'Romance', 'ScienceFiction', 'Thriller',
       'TvMovie', 'War', 'Western'],
      dtype='object')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9899 entries, 0 to 9021
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OriginalLanguage  9030 non-null   object
 1   OriginalTitle     9030 non-null   object
 2   Overview          9030 non-null   object
 3   Popularity        9030 non-null   float64
 4   Title             9030 non-null   object
 5   VoteAverage       9030 non-null   float64
 6   VoteCount         9030 non-null   float64
 7   Budget            9030 non-null   float64
 8   TagLine           9030 non-null   object
 9   RunTime           9030 non-null   float64
 10  Revenue           9030 non-null   float64
 11  Decade            9030 non-null   float64
 12  Region            9030 non-null   object
 13  Action            9030 non-null   float64
 14  Adventure         9030 non-null   float64
 15  Animation         9030 non-null   float64
 16  Comedy            9030 non-null   float64
 17  Crime             9030 non-null   float64
 18  Documentary       9030 non-null   float64
 19  Drama             9030 non-null   float64
 20  Family            9030 non-null   float64
 21  Fantasy           9030 non-null   float64
 22  History           9030 non-null   float64
 23  Horror            9030 non-null   float64
 24  Music             9030 non-null   float64
 25  Mystery           9030 non-null   float64
 26  Romance           9030 non-null   float64
 27  ScienceFiction    9030 non-null   float64
 28  Thriller          9030 non-null   float64
 29  TvMovie           9030 non-null   float64
 30  War               9030 non-null   float64
 31  Western           9030 non-null   float64
dtypes: float64(26), object(6)
memory usage: 2.5+ MB

In [ ]:
df.head(3)

,OriginalTitle,Overview,Popularity,ReleaseDate,Title,VoteAverage,VoteCount,Budget_x,ProductionCompanies_x,ProductionCountries_x,...,RunTime_y,Revenue_y,Budget,ProductionCompanies,ProductionCountries,TagLine,RunTime,Revenue,Genres,LanguageEncoded
0,Expend4bles,Armed with every weapon they can get their han...,3741.062,2023-09-15,Expend4bles,6.4,364,100000000,"[{'id': 1020, 'logo_path': '/kuUIHNwMec4dwOLgh...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,103,30000000,100000000,"[{'id': 1020, 'logo_path': '/kuUIHNwMec4dwOLgh...","[{'iso_3166_1': 'US', 'name': 'United States o...",They'll die when they're dead.,103,30000000,"Action, Adventure, Thriller",0
1,The Equalizer 3,Robert McCall finds himself at home in Souther...,2471.515,2023-08-30,The Equalizer 3,7.3,1027,70000000,"[{'id': 1423, 'logo_path': '/1rbAwGQzrNvXDICD6...","[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_...",...,109,176933602,70000000,"[{'id': 1423, 'logo_path': '/1rbAwGQzrNvXDICD6...","[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_...",Justice knows no borders.,109,176933602,"Action, Thriller, Crime",0
2,Mortal Kombat Legends: Cage Match,"In 1980s Hollywood, action star Johnny Cage is...",2223.430,2023-10-17,Mortal Kombat Legends: Cage Match,7.8,27,0,"[{'id': 2785, 'logo_path': '/l5zW8jjmQOCx2dFmv...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,80,0,0,"[{'id': 2785, 'logo_path': '/l5zW8jjmQOCx2dFmv...","[{'iso_3166_1': 'US', 'name': 'United States o...",Neon lights... Suits with shoulder pads... Jum...,80,0,"Animation, Action, Fantasy",0